           html {
               background: var(--bg-color);
               color: var(--text-color)
           }

            body {
                padding: calc(10vw - 15px);
            }

            p {
                font-family: Bitter,Rockwell,sans-serif;
                font-size: 35px;
                max-width: 600px;
                margin-block-start:10px;font-variation-settings: "wght" 900;
                font-weight: 900;
            }

            p.decorative {
                overflow-x: hidden;
                color: var(--dim-gray);
                font-size: 200px;
                position: absolute;
                right: 0;
                user-select: none;
                top: 328px;
                overflow: hidden;
                font-style: italic;
                word-break: keep-all;
                transition: .2s;
                z-index: -1;
            }

            p.decorative:hover {
                font-variation-settings: "wght" 200;
            }

            small {
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: Bitter,Rockwell,sans-serif;
                font-size: 16px;
                font-variation-settings: "wght" 600!important;
                color: var(--text-color)!important;
                user-select: none;
            }

            small:hover {
                font-variation-settings: "wght" 900 !important;
            }

            @media screen and (max-width: 400px) {
                p.decorative {
                    font-size:100px;
                }
            }

            @media screen and (max-width: 300px) {
                p.decorative {
                    visibility:hidden;
                }

                p {
                    font-size: 28px;
                    font-variation-settings: "wght" 800;
                }
            }

            ::selection {
                background: var(--selection-bg);
                color: var(--selection-color);
            }

            @media (prefers-color-scheme: light) {
                :root {
                    --bg-color:hsl(0deg 0% 93%);
                    --text-color: hsl(0, 0%, 13%);
                    --selection-bg: black;
                    --selection-color: hsl(43deg 100% 65%);
                    --dim-gray: hsl(0deg 0% 86%);
                }

                html {
                    transition: .3s;
                }
            }

            @media (prefers-color-scheme: dark) {
                :root {
                    --bg-color:hsl(0, 0%, 13%);
                    --text-color: hsl(0deg 0% 71%);
                    --selection-bg: hsl(0deg 0% 16%);
                    --selection-color: hsl(0deg 0% 58%);
                    --dim-gray: hsl(0deg 0% 16%);
                }

                html {
                    transition: .3s;
                }
            }
